@import "bourbon";
@import "../core/base";

body {
  margin: 0 0 $space-large;
}

.container {
  @include margin(null auto);
  @include padding(null $space-medium);
  max-width: 500px;
}

.welcome-message {
  @include padding($space-medium null);
  background-color: #f2f2f2;
  margin-bottom: $space-medium;
  text-align: center;
}
