///////////////////////////////////////////////////////////////////////////////
//
//  Base Form Styles
//
///////////////////////////////////////////////////////////////////////////////

$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10%);
$form-border-color-focus: $blue; //blue default
$form-border-radius: 3px;
$form-box-shadow-focus: darken($form-border-color-focus, 5%);
$form-font-size: $base-font-size;
$form-font-family: $lucida-grande;
$form-width: em(300);

fieldset {
  background: #f1f1f1;
  border: 1px solid lighten($base-border-color, 20%);
  margin: 0 0 $base-line-height 0;
  padding: $base-line-height $base-line-height ($base-line-height * .75) $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height * .25;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs} {
  background-color: white;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: inset 0px 1px 3px hsla(0, 0%, 0%, 0.06);
  @include box-sizing(border-box);
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height * .5;
  padding: ($base-line-height * .5) ($base-line-height * .5);
  @include transition(border-color);
  width: $form-width;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 5px rgba($form-box-shadow-focus, 0.7);
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="color"] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: $base-line-height * 3;
  padding: 0;
  position: relative;
  width: $base-line-height * 5;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height * .5;
}

select {
  width: $form-width;
  margin-bottom: $base-line-height * 1.5;
}

button,
input[type="submit"] {
  @include button(simple, #fafafa);

  // Button Overrides
  border-color: #BBB;
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.06);
  font-size: $form-font-size;
  padding: 0.7em 1.9em;
}
