///////////////////////////////////////////////////////////////////////////////
//
//  Global Variables
//
///////////////////////////////////////////////////////////////////////////////


// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

//  Font Colors
$base-font-color: $dark-gray;

//  Text Link Colors
$base-link-color: $blue;
$hover-link-color: darken($blue, 15%);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
