#{$all-buttons} {
  appearance: none;
  background-color: base-get(action-color);
  border: 0;
  border-radius: base-get(border-radius);
  color: cotrast-switch(base-get(action-color));
  cursor: pointer;
  display: inline-block;
  font-family: base-get(font-family);
  font-size: base-get(font-size);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: base-get(spacing-small) base-get(spacing);
  text-align: center;
  text-decoration: none;
  transition: background-color base-get(duration) base-get(timing);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade(base-get(action-color), 20%);
    color: contrast-switch(shade(base-get(action-color), 20%));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: base-get(action-color);
    }
  }
}
