fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: base-get(spacing-small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: base-get(spacing-small);
}

input,
select,
textarea {
  display: block;
  font-family: base-get(font-family);
  font-size: base-get(font-size);
}

#{$all-text-inputs} {
  appearance: none;
  background-color: base-get(background-color);
  border: base-get(border);
  border-radius: base-get(border-radius);
  box-shadow: base-get(form-box-shadow);
  box-sizing: base-get(border-box);
  margin-bottom: base-get(spacing-small);
  padding: base-get(spacing-small);
  transition: border-color base-get(duration) base-get(timing);
  width: 100%;

  &:hover {
    border-color: shade(base-get(border-color), 20%);
  }

  &:focus {
    border-color: base-get(color-action);
    box-shadow: base-get(form-box-shadow-focus);
    outline: none;
  }

  &:disabled {
    background-color: shade(base-get(background-color), 5%);
    cursor: not-allowed;

    &:hover {
      border: base-get(border);
    }
  }

  &::placeholder {
    color: tint(base-get(font-color), 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: base-get(spacing-small) / 2;
}

[type="file"] {
  margin-bottom: base-get(spacing-small);
  width: 100%;
}

select {
  margin-bottom: base-get(spacing-small);
  width: 100%;
}
