html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

[hidden] {
  // stylelint-disable-next-line declaration-no-important
  display: none !important;
}
