table {
  border-collapse: collapse;
  margin: var(--base-spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: var(--heading-line-height);
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: var(--base-border);
}

th {
  font-weight: 600;
}

th,
td {
  padding: var(--small-spacing) var(--small-spacing) var(--small-spacing) 0;
}
