table {
  border-collapse: collapse;
  margin: base-get(spacing-small) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid shade(base-get(border-color), 25%);
  font-weight: 600;
  padding: base-get(spacing-small) 0;
  text-align: left;
}

td {
  border-bottom: base-get(border);
  padding: base-get(spacing-small) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
