body {
  color: base-get(font-color);
  font-family: base-get(font-family);
  font-size: base-get(font-size);
  line-height: base-get(line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base-get(heading-font-family);
  font-size: modular-scale(1);
  line-height: base-get(heading-line-height);
  margin: 0 0 base-get(spacing-small);
}

p {
  margin: 0 0 base-get(spacing-small);
}

a {
  color: base-get(action-color);
  text-decoration: none;
  transition: color base-get(duration) base-get(timing);

  &:active,
  &:focus,
  &:hover {
    color: shade(base-get(action-color), 25%);
  }
}

hr {
  border-bottom: base-get(border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: base-get(spacing) 0;
}
