// Colors
$blue: #1565c0;
$blue-light: #3b83d5;
$gray-dark: #333;
$gray-light: #ddd;

// Font Colors
$font-color--base: $gray-dark;
$action-color: $blue;
$action-color--alt: $blue-light;

// Background Colors
$viewport-background-color: #fff;

:root {
  // Typography
  --font-family: #{$font-stack-system};
  --font-family--heading: var(--font-family);

  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;

  // Line heights
  --line-height: 1.5;
  --line-height--heading: 1.2;

  // Other Sizes
  --border-radius: 3px;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;

  // Borders
  --border: 1px solid currentColor;

  // Focus
  --focus-outline-width: 3px;
  --focus-outline-offset: 2px;
  --focus-outline: var(--focus-outline-width) solid #{$action-color};

  // Animations
  --duration: 150ms;
  --timing: ease;
}
