$colors: (
  white: #fff,
  blue: #1565c0,
  dark-gray: #333,
  medium-gray: #999,
  light-gray: #ddd,
);

$base: (
  // Typography
  font-size: 1em,
  font-family: $font-stack-system,
  line-height: 1.5,

  heading-font-family: $font-stack-system,
  heading-line-height: 1.2,

  // Borders
  border-radius: 3px,
  border-color: map-get($colors, light-gray),
  border: 1px solid map-get($colors, light-gray) map-get($colors, light-gray),

  // Spacing
  spacing: 1.5em,
  spacing-small: 0.75em,

  // Font Colors
  font-color: map-get($colors, dark-gray),
  action-color: map-get($colors, blue),

  // Backgrounds
  background-color: map-get($colors, white),
  background-color-secondary: tint(map-get($colors, light-gray), 75%),

  // Forms
  form-box-shadow: inset 0 1px 3px rgba(#000, 0.06),
  form-box-shadow-focus: inset 0 1px 3px rgba(#000, 0.06),
    0 0 5px adjust-color(map-get($colors, blue), $lightness: -5%, $alpha: -0.3),

  // Animations
  duration: 150ms,
  timing: ease,
);

@function base-get($key) {
  @return map-get($base, $key);
}
