/*
Syntax error: File to import not found or unreadable: neat.
              Load paths:
                /Users/kylefiedler/Development/bitters (DEPRECATED)
                /Users/kylefiedler/Development/bitters/spec/fixtures
                /Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/bourbon-4.0.2/app/assets/stylesheets
        on line 3 of spec/fixtures/application.scss

1: @import 'bourbon';
2: @import 'bitters/bitters';
3: @import 'neat';

Backtrace:
spec/fixtures/application.scss:3
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/import_node.rb:45:in `import'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:221:in `watch'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/plugin.rb:108:in `method_missing'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/exec.rb:509:in `watch_or_update'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/exec.rb:346:in `process_result'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/exec.rb:43:in `parse'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/lib/sass/exec.rb:22:in `parse!'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.3.7/bin/sass:13:in `<top (required)>'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/bin/sass:23:in `load'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/bin/sass:23:in `<main>'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: neat.\A               Load paths:\A                 /Users/kylefiedler/Development/bitters (DEPRECATED)\A                 /Users/kylefiedler/Development/bitters/spec/fixtures\A                 /Users/kylefiedler/.rvm/gems/ruby-1.9.3-p392/gems/bourbon-4.0.2/app/assets/stylesheets\A         on line 3 of spec/fixtures/application.scss\A \A 1: @import 'bourbon';\A 2: @import 'bitters/bitters';\A 3: @import 'neat';"; }
