!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title= current_page.data.title || "The Middleman"
    = stylesheet_link_tag "app"
    = javascript_include_tag  "app"
  %body{ class: page_classes }
    = yield
