nav.bourbon-ui {
  margin: 0 auto;
  padding: 60px 0px;
  position: relative;

  &::before {
    @extend .faded-hr-divider;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
  }

  &::after {
    @extend .faded-hr-divider;
    bottom: 0px;
    content: "";
    display: block;
    position: absolute;
  }

  article {
    @include clearfix;
    margin: 0 auto;
    width: grid-width(8);

    h2 {
      color: $base-font-color-light-alt;
      font-family: $serif;
      font-size: 1.4em;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-transform: uppercase;

      a {
        text-decoration: none;
      }
    }

    > a {
      @extend .white-button;
      float: left;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-transform: lowercase;
      width: grid-width(4);

      &:nth-child(odd) {
        margin-right: $gw-gutter;
      }
    }
  }
}
