@import "variables";
@import "extends";
@import "animations";

.index {
  font-family: $index-font-family;

  h2 {
    font-size: em(22);
  }

  p {
    color: lighten($base-font-color, 25);
  }

  img {
    border: 1px solid $base-border-color;
    border-radius: $base-border-radius;
  }

  .hero {
    background-color: $green;
    color: #fff;
    padding: 3.5em 0 0;

    h1 {
      text-align: center;

      &:after {
        @extend %browser-scroll;
        content: " ";
        display: block;
        width: 100%;
        height: em(270, 36);
        background-color: #FFF;
        background-image: url('/images/bitters-example.jpg');
        background-position: center 1em;
        background-repeat: no-repeat;
        background-size: 90%;
        margin-top: 1em;
        border-top: 25px solid $base-border-color;
        border-radius: $base-border-radius $base-border-radius 0 0;
      }
    }
  }

  .about {
    @include row;
    background-color: lighten($yellow, 10);
    overflow: hidden;

    @include media($medium-screen) {
      padding: 0;
    };

    h2 {
      color: darken($yellow, 40);
      margin-bottom: .5em;
      text-align: center;


    }

    p {
      color: darken($yellow, 30);
      margin-bottom: 0;

      a {
        color: darken($yellow, 40);

        &:hover {
          color: lighten($yellow, 30);
        }
      }
    }

    article {
      padding: 1.5em 2em;

      @include media(em(800)) {
        @include span-columns(4, table);
        padding: 2em 2em;
      };

      &:last-child {
        background-color: lighten($yellow, 5);
        padding-right: 2em;
      }

      &:before {
        // content: " ";
        // padding: .75em 0;
        @include size(1.85em);
        background: lighten($yellow, 22);
        border-radius: 50%;
        color: lighten($yellow, 10);
        display: block;
        font-family: "fontello";
        font-size: 4em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.95em;
        margin: -.95em auto .25em;
        speak: none;
        text-align: center;
        text-decoration: inherit;
      }

      $highlight-list: speed, change, install;

      @each $highlight in $highlight-list {
        &.#{$highlight} {
          @extend %#{$highlight};
        }
      }
    }
  }

  .getting-started {
    margin-top: 4em;
    @include outer-container;

    h2 {
      margin-bottom: .5em;
    }

    article {
      position: relative;
      padding: 0 2em 2em;

      @include media(em(800)) {
        @include span-columns(4);
        @include omega(3n);

        &:last-child {
          @include shift(4);
        }
      };

      $feature-list: structure, variables, grid, type, lists, forms, flashes;

      @each $feature in $feature-list {
        &.#{$feature} h2 {
          @extend %icon;
          @extend %#{$feature};
        }
      }
    }
  }

  .instructions {
    background: $blue;
    text-align: center;
    padding: 3em 0;

    h1 {
      color: #fff;
      margin-bottom: 1em;
      margin-top: 0;
    }

    ol {
      max-width: em(400);
      margin: 0 auto;

      p {
        color: lighten($blue, 35);
      }

      code {
        display: block;
        font-weight: bold;
        color: lighten($blue, 45);
      }
    }

    a {
      padding: .5em 1em;
      @include inline-block;
      margin-top: 1.5em;
      color: lighten($blue, 30);
      border: 1px solid lighten($blue, 20);
      border-radius: $base-border-radius;

      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
}

