@import "variables";
@import "extends";
@import "animations";

.index {
  font-family: $index-font-family;

  h2 {
    font-size: em(24);
  }

  p {
    color: lighten($base-font-color, 25);
  }

  img {
    border: 1px solid $base-border-color;
    border-radius: $base-border-radius;
  }

  .hero {
    background-color: $green;
    color: #fff;
    padding: 3.5em 0 0;

    h1 {
      text-align: center;

      &:after {
        @extend %browser-scroll;
        content: " ";
        display: block;
        width: 100%;
        height: em(270, 36);
        background-color: #FFF;
        background-image: url('/images/bitters-example.jpg');
        background-position: center 1em;
        background-repeat: no-repeat;
        background-size: 90%;
        margin-top: 1em;
        border-top: 25px solid $base-border-color;
        border-radius: $base-border-radius $base-border-radius 0 0;
      }
    }
  }

  .about {
    @include row;
    background-color: lighten($yellow, 10);
    padding: 1.5em 0 0;

    @include media($medium-screen) {
      padding: 0;
    };

    h2 {
      color: darken($yellow, 40);
      margin-bottom: .5em;
    }

    p {
      color: darken($yellow, 30);
      margin-bottom: 0;
    }

    article {
      padding: 1.5em 2em;

      @include media(em(800)) {
        @include span-columns(4, table);
        padding: 2em 2em;
      };

      &:last-child {
        background-color: lighten($yellow, 5);
        padding-right: 2em;
      }
    }
  }

  .getting-started {
    margin-top: 4em;
    @include outer-container;
    padding: 0 2em;

    h2 {
      margin-bottom: .5em;
    }

    article {
      position: relative;
      margin-bottom: 3em;

      @include media($medium-screen) {
        margin-bottom: 6em;
        min-height: 150px;
      };

      &:nth-child(odd) {
        @include media($medium-screen){
          padding-left: flex-grid(6) + flex-gutter();

          img {
            @include position(absolute, -.5em 0 0 0px);
            width: flex-grid(5.5);
          }
        }
      }

      &:nth-child(even) {
        @include media($medium-screen){
          padding-right: flex-grid(6) + flex-gutter();

          img {
            @include position(absolute, -.5em 0px 0 0);
            width: flex-grid(5.5);
          }
        };
      }
    }
  }
}

