@import "variables";
@import "extends";
@import "animations";

.index {
  font-family: $index-font-family;

  h2 {
    font-size: em(22);
  }

  p {
    color: lighten($base-font-color, 25);
  }

  a {
    color: $blue;

    &:hover {
      color: darken($blue, 20);
    }
  }

  img {
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
  }

  .hero {
    background-color: $green;
    color: #fff;
    padding: 3.5em 0;

    @include media($min-small-screen){
      padding: 3.5em 0 0;
    }

    a {
      color: #fff;
      border-bottom: 3px solid rgba(#fff, .6);

      &:hover {
        color: rgba(#fff, .6);
      }
    }

    h1 {
      text-align: center;

      &:after {
        @extend %browser-scroll;

        @include media($min-small-screen){
          background-color: #fff;
          background-image: url('/images/bitters-example.jpg');
          background-position: center 1em;
          background-repeat: no-repeat;
          background-size: 90%;
          border-radius: $base-border-radius $base-border-radius 0 0;
          border-top: 25px solid $base-border-color;
          content: " ";
          display: block;
          height: em(270, 36);
          margin-top: 1em;
          width: 100%;
        }
      }
    }
  }

  .about {
    @include row;
    background-color: lighten($yellow, 10);
    overflow: hidden;

    @include media($min-medium-screen) {
      padding: 0;
    };

    h2 {
      color: darken($yellow, 40);
      margin-bottom: .5em;

      @include media($min-medium-screen){
        text-align: center;
      }
    }

    p {
      color: darken($yellow, 30);
      margin-bottom: 0;

      a {
        color: darken($yellow, 40);

        &:hover {
          color: lighten($yellow, 30);
        }
      }
    }

    article {
      padding: 1.5em 2em;

      @include media($min-medium-screen) {
        @include span-columns(4, table);
        padding: 2em 2em;
      };

      &:last-child {
        background-color: lighten($yellow, 5);
        margin: 0 -2em;
        padding: 2em 4em;

        @include media($min-medium-screen) {
          padding: 2em;
          margin: 0;
        };
      }

      &:before {
        @include size(1.85em);
        background: lighten($yellow, 22);
        border-radius: 50%;
        color: lighten($yellow, 10);
        display: block;
        font-family: "fontello";
        font-size: 2em;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1.95em;
        margin-right: .5em;
        speak: none;
        text-align: center;
        text-decoration: inherit;

        @include media($min-small-screen) {
          font-size: 3em;
        };

        @include media(max-width $min-medium-screen) {
          float: left;
        };

        @include media($min-medium-screen) {
          font-size: 4em;
          margin: 0 auto .25em;
        };
      }

      $highlight-list: speed, change, install;

      @each $highlight in $highlight-list {
        &.#{$highlight} {
          @extend %#{$highlight};
        }
      }
    }
  }

  .getting-started {
    @include outer-container;
    margin-top: 4em;
    padding: 0 2em;

    @include media($max-width + 4em) {
      padding: 0;
    };

    h2 {
      margin-bottom: .5em;

      a {
        color: $base-font-color;
        padding-bottom: 2px;
        border-bottom: 1px solid $base-border-color;

        &:hover {
          color: $blue;
        }
      }
    }

    article {
      padding: 0 2em 2em;
      position: relative;

      @include media($min-medium-screen) {
        @include span-columns(4);
        @include omega(3n);

        &:last-child {
          @include shift(4);
        }
      };

      $feature-list: structure, variables, grid, type, lists, forms, flashes;

      @each $feature in $feature-list {
        &.#{$feature} h2 {
          @extend %icon;
          @extend %#{$feature};
        }
      }
    }
  }

  .instructions {
    background: $blue;
    padding: 3em 2em;
    text-align: center;

    @include media($max-width + 4em) {
      padding: 3em 0;
    };

    h1 {
      color: #fff;
      margin-bottom: 1em;
      margin-top: 0;
    }

    ol {
      margin: 0 auto;
      max-width: em(400);

      p {
        color: lighten($blue, 35);
      }

      code {
        color: lighten($blue, 45);
        display: block;
        font-weight: bold;
      }
    }

    a {
      @include inline-block;
      border-radius: $base-border-radius;
      border: 1px solid lighten($blue, 20);
      color: lighten($blue, 30);
      margin-top: 1.5em;
      padding: .5em 1em;

      &:hover {
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

