@import "variables";
@import "extends";
@import "animations";

.index {
  font-family: $index-font-family;

  h2 {
    font-size: em(24);
  }

  p {
    color: lighten($base-font-color, 25);
  }

  img {
    border: 1px solid $base-border-color;
    border-radius: $base-border-radius;
  }

  .hero {
    background-color: $green;
    color: #fff;
    padding: 4em 0 0;

    h1 {
      text-align: center;

      &:after {
        @extend %browser-scroll;
        content: " ";
        display: block;
        width: 100%;
        height: em(270, 36);
        background-color: #FFF;
        background-image: url('/images/bitters-example.jpg');
        background-position: center 1em;
        background-repeat: no-repeat;
        background-size: 90%;
        margin-top: 1em;
        border-top: 28px solid $base-border-color;
      }
    }
  }

  .about {
    @include row;
    background-color: lighten($yellow, 10);

    h2 {
      color: darken($yellow, 50);
      margin-bottom: .5em;
    }

    p {
      color: darken($yellow, 40);
    }

    article {
      @include span-columns(4, table);
      padding: 3em 2em;

      &:last-child {
        background-color: lighten($yellow, 5);
      }
    }
  }

  .getting-started {
    margin-top: 4em;
    @include outer-container;
    padding: 0 2em;

    @include media($max-width + 4em) {
      padding: 0;
    };

    article {
      margin-bottom: 6em;
      position: relative;

      &:nth-child(odd) {
        @include media($medium-screen){
          padding-left: flex-grid(6) + flex-gutter();

          img {
            @include position(absolute, -.5em 0 0 flex-gutter());
            width: flex-grid(5);
          }
        }
      }

      &:nth-child(even) {
        @include media($medium-screen){
          padding-right: flex-grid(6) + flex-gutter();

          img {
            @include position(absolute, -.5em flex-gutter() 0 0);
            width: flex-grid(5);
          }
        };
      }
    }
  }
}

