ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;

  &%default {
    list-style-position: outside;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;

    li {
      line-height: $base-line-height;

      ul, ol {
        padding-left: $base-line-height / 2;
        margin-bottom: 0;
      }
    }
  }
}

dl {
  line-height: $base-line-height;
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}
