body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  margin: 0;
  line-height: 1.3em;
}

h1 {
  font-size: em(42);
}

h2 {
  font-size: em(36);
}

h3 {
  font-size: em(32);
}

h4 {
  font-size: em(24);
}

h5 {
  font-size: em(18);
}

h6 {
  font-size: $base-font-size;
}

p {
  font-size: $base-font-size;
  font-weight: 400;
  margin: 0 0 ($base-line-height * .5);
}

a:link, a:visited {
  color: $base-link-color;
  text-decoration: underline;
  @include transition(color 0.1s linear);

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  font-style: italic;
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-size: smaller;
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
