body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1 {
  font-size: em(44);
  line-height: em(44, 44);
  margin: em(22, 44) 0;
}

h2 {
  font-size: em(32);
  line-height: em(44, 32);
  margin: em(11, 32) 0;
}

h3 {
  font-size: em(28);
  line-height: em(33, 28);
  margin: em(11, 28) 0 0;
}

h4 {
  font-size: em(24);
  line-height: em(33, 24);
  margin: em(11, 28) 0 0;
}

h5, h6 {
  font-size: em(20);
  line-height: $base-line-height;
  margin: 0;
}

p {
  font-size: $base-font-size;
  font-weight: normal;
  margin: 0 0 ($base-line-height * .5);
}

a:link, a:visited {
  color: $base-link-color;
  text-decoration: none;
  @include transition;

  &:hover, &:active, &:focus {
    color: $hover-link-color;
  }

  &:visited {
    color: darken($hover-link-color, 15);
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
}

abbr, acronym {
  border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height * .5);
}

hgroup {
  margin-bottom: $base-line-height * .5;
}

del {
  color: lighten($base-font-color, 15%);
  text-decoration: line-through;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15%);
  font-style: italic;
  margin: $base-line-height 0;
  padding-left: $base-line-height * .5;
}

cite {
  color: lighten($base-font-color, 25%);
  font-size: smaller;
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

pre, code {
  line-height: $base-line-height;
  margin: ($base-line-height * .5) 0;
}
