@mixin button-variant($action-color, $font-color: #fff) {
  background-color: $action-color;
  color: $font-color;
  
  &:hover,
  &:focus {
    background-color: shade($action-color, 20%);
    color: $font-color;
  }
  
  &:disabled {
    &:hover {
      background-color: $action-color;
    }
  }
}

#{$all-buttons} {
  @include button-variant($action-color);
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
