@include font-face(Fontello, /fonts/fontello);

%icon:before {
  @include position(absolute,  3px null null 0em);
  color: lighten($base-font-color, 40);
  display: block;
  font-family: "fontello";
  font-size: 0.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}

%speed:before {
  content: '\e80d';
}

%install:before {
  content: '\e80b';
}

%change:before {
  content: '\e804';
}

%structure:before {
  content: '\e801';
}

%grid:before {
  content: '\e808';
}

%type:before {
  content: '\e803';
}

%lists:before {
  content: '\e805';
}

%forms:before {
  content: '\e802';
}

%variables:before {
  content: '\e80a';
}
