<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bourbon Smash</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/screen.css" media="screen">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    {{ content }}

    <script type="text/javascript" src="javascripts/popover.js"></script>
    <script type="text/javascript" src="javascripts/dropdown.js"></script>
    <script type="text/javascript" src="javascripts/modal.js"></script>
    <script type="text/javascript" src="javascripts/modal-dialog.js"></script>
  </body>
</html>
