<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bitters - predefined style for Bourbon</title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="screen">

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/foy0lqb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="{{ page.class }}">
    <header class="main">
      <h1>Bitters</h1>
      <nav class="actions">
        <a href="/example.html">Example</a>
        <a href="#">Github</a>
      </nav>
    </header>

    <section class="container">
      {{ content }}
    </section>

    <footer class="main">
      <p>Bitters is maintained and funded by <a href="http://www.thoughtbot.com">thoughtbot</a>. Questions? Tweet <a href="http://www.twitter.com/kylefiedler">@kylefiedler</a>.</p>
      <p>Bitters is Copyright © 2013 thoughtbot. It is free software, and may be redistributed under the terms specified in the LICENSE file.</p>
      <nav class="actions">
        <a href="/example.html">Example</a>
        <a href="#">Github</a>
      </nav>
    </footer>
  </body>
</html>
