nav.actions {
  a {
    @include inline-block;
    padding: 1em;
    width: em(154, 14);
    background: $red;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-radius: $base-border-radius * 2;
    font-size: em(14);
    @include transition();

    &:hover {
      background: shade($red, 15);
      @include transition();
    }
  }
}

