nav.actions {
  a {
    @include inline-block;
    @include transition();
    background: $red;
    border-radius: $base-border-radius * 2;
    color: white;
    display: block;
    font-size: em(14);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;

    @include media($min-small-screen) {
      @include inline-block;
      margin: 0;
      width: em(154, 14);
    };

    &:hover {
      @include transition();
      background: shade($red, 15);
      color: white;
    }
  }
}

