.playground.forms {
  section.base-form-elements {
    @include clearfix;
    margin: 0 auto;
    width: 640px;
  }

  section.panel {
    float: left;

    &:nth-child(odd) {
      margin-right: 40px;
    }
  }
}
